.top-buffer {
    margin: 4px;
}
.alert {
    margin-top: 20px;
    margin-bottom: 0px;
}
.table td, .table th {
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.table td input {
    margin-top: -7px;
    margin-bottom: -7px;
    text-align: center;
}
.table {
    table-layout: fixed;
}

form fieldset span.glyphicon{
    float:right;
    margin-top:-22px;
    margin-right:-20px;
}

form fieldset input